* {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightblue;
}

.edit-section {
  border: 4px dashed black;
  box-sizing: border-box;
  height: 60vh;
  width: 100%;
}

.result-section {
  border: 4px dashed black;
  box-sizing: border-box;
  height: 40vh;
  display: flex;
  justify-content: center; /* Horizontal */
  align-items: center; /* Vertical */
  width: 100%;
}

.result-text {
  font-size: 20px;
  text-align: right;
  width: 50%;
}
